<style>
.continer {
    width: 400px ;
    height: 400px; ;
    border: 2px solid #000000 ;
}
img {
    width: 400px; ;
    height: 300px; ;
    animation: photoSlideIn 1s ease-out;
}
</style>
  